# For bash versions less than 4

#
# replace ^^ uppercase operator
#
setfield() {
    local field="${1%%:*}"
    export "$(echo "${field}" | tr 'a-z-' 'A-Z_')"="${1#* }"
}



#
# replace coproc
#
coproc() {
    local coproc_in="$(tempname)-in.pipe"
    local coproc_out="$(tempname)-out.pipe"
    mkfifo "${coproc_in}" "${coproc_out}"

    "$1" >"${coproc_out}" <"${coproc_in}" &
    COPROC_PID="$!"
    exec 8<"${coproc_out}" 9>"${coproc_in}"
    COPROC=(8 9)
}
